version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_LOG=warning

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    command: mongod --quiet --logpath /dev/null

  gateway:
    build:
      context: ./services/gateway
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
      - mongo

  booking-service:
    build:
      context: ./services/booking-service
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq
      - mongo
      - gateway
  
  payment-service:
    build:
      context: ./services/payment-service
    ports:
      - "3002:3002"
    depends_on:
      - mongo
      - rabbitmq
      - gateway
      - booking-service